<!DOCTYPE html>
<html>
  <head>
    <title>你关心的步行街头条</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/jquery-1.9.1.min.js"></script>
    <script src="./javascripts/knockout-3.0_0.js"></script>
    <script src="./javascripts/index.js"></script>
  </head>
  <body>
	<div id="wrapper">
		<div id="pagelet-nav">
			<div class="nav-inner">
				<div class="nav-logo">
					<a href="/home" class="logo-box" title="你关心的步行街头条">
						<img src="/images/logo.png" class="logo" alt="">
					</a>
				</div>
				<div class="nav-title"></div>
				<div class="nav-subtitle">欢迎回来, LA.Kobe.Bryant!</div>
			</div>
		</div>
		<div id="container">
			<div id="pagelet-feedlist">
				<ul data-bind="foreach:TopicNewsList">
			        <li class="item clearfix">
						<div class="info">
							<p class="title">
								<a data-bind="attr:{href:link,title:title,'last-reply':lastReply},text:title"></a>
							</p>
						</div>
						<p class="footer">
							<span class="other">
								<span class="reply">回复：<span class="red" data-bind="text:reply"></span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span class="read">阅读: <span class="grey" data-bind="text:read"></span></span>
							</span>
							<span class="footer-right">
								<span>by:<a data-bind="attr:{href:authorLink,title:author},text:author"></a></span>
								<span data-bind="text:createTime"></span>
							</span>
						</p>
			        </li>
				</ul>
			</div>
		</div>
	</div>
    	
    </ul>
  </body>
</html>
