<!DOCTYPE html>
<html>
  <head>
    <title>XueChen.Wang's Own Blog</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/book.css' />
    <script src="./javascripts/jquery-1.9.1.min.js"></script>
    <script src="./javascripts/knockout-3.0_0.js"></script>
    <script src="./javascripts/book.js"></script>
  </head>
  <body>
  <div class='container'>
    <div class='window'></div>
    <div class='raindrops'>
      <div class='borders'>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
        <div class='border'></div>
      </div>
      <div class='drops'>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
        <div class='raindrop'></div>
      </div>
    </div>
  </div>
  	<div class="outer-wrapper">
  		<header class="section">
  			
  		</header>
  		<main id="content-main" class="section">
  			<h1>
              <a class="logo" href="/">
                <span>HAN<span class="logo-hanson">S</span>ON</span>
              </a>
            </h1>
  			<div class="myframe">
                <div class="myframe-text">
                    Playing with Text-Shadow
                </div>
                
            </div>
<!--         <div class="branding">
          
        </div> -->
        

  		</main>
  		<footer class="footer section">
  			
  		</footer>
  	</div>
  </body>
</html>
