<!DOCTYPE html>
<html>
  <head>
    <title>XueChen.Wang's Own Blog</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/book.css' />
    <script src="./javascripts/jquery-1.9.1.min.js"></script>
    <script src="./javascripts/knockout-3.0_0.js"></script>
    <script src="./javascripts/book.js"></script>
  </head>
  <body>
  	<div class="outer-wrapper">
  		<header class="section">
  			
  		</header>
  		<main id="content-main" class="section">
  			<h1 class="page-title">深入浅出ES6</h1>
  			<div class="myframe">
          
        </div>
        <div class="branding">
          <h1>
            <a class="logo" href="/">
              <img src="/images/mdn-logo-mono.svg" alt="">
              <span>HAN<span class="logo-hanson">S</span>ON</span>
            </a>
          </h1>
        </div>
        
  		</main>
  		<footer class="footer section">
  			
  		</footer>
  	</div>
  </body>
</html>
